@import './_mixin';
@import './_animations';

.skills-container {
    //height: 100vh;
    height: auto;
    //padding: 70px;

    //  background-color: rgb(28, 26, 36);
    background-image: linear-gradient(
            12deg,
            rgba(193, 193, 193, 0.05) 0%,
            rgba(193, 193, 193, 0.05) 2%,
            rgba(129, 129, 129, 0.05) 2%,
            rgba(129, 129, 129, 0.05) 27%,
            rgba(185, 185, 185, 0.05) 27%,
            rgba(185, 185, 185, 0.05) 66%,
            rgba(83, 83, 83, 0.05) 66%,
            rgba(83, 83, 83, 0.05) 100%
        ),
        linear-gradient(
            321deg,
            rgba(240, 240, 240, 0.05) 0%,
            rgba(240, 240, 240, 0.05) 13%,
            rgba(231, 231, 231, 0.05) 13%,
            rgba(231, 231, 231, 0.05) 34%,
            rgba(139, 139, 139, 0.05) 34%,
            rgba(139, 139, 139, 0.05) 71%,
            rgba(112, 112, 112, 0.05) 71%,
            rgba(112, 112, 112, 0.05) 100%
        ),
        linear-gradient(
            236deg,
            rgba(189, 189, 189, 0.05) 0%,
            rgba(189, 189, 189, 0.05) 47%,
            rgba(138, 138, 138, 0.05) 47%,
            rgba(138, 138, 138, 0.05) 58%,
            rgba(108, 108, 108, 0.05) 58%,
            rgba(108, 108, 108, 0.05) 85%,
            rgba(143, 143, 143, 0.05) 85%,
            rgba(143, 143, 143, 0.05) 100%
        ),
        linear-gradient(
            96deg,
            rgba(53, 53, 53, 0.05) 0%,
            rgba(53, 53, 53, 0.05) 53%,
            rgba(44, 44, 44, 0.05) 53%,
            rgba(44, 44, 44, 0.05) 82%,
            rgba(77, 77, 77, 0.05) 82%,
            rgba(77, 77, 77, 0.05) 98%,
            rgba(8, 8, 8, 0.05) 98%,
            rgba(8, 8, 8, 0.05) 100%
        ),
        linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    @media (min-width: 320px) and (max-width: 767px) {
        padding: 20px 0px 40px 0px;
        display: flex;
        flex-direction: column;
    }

    .skills-content {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .skills-title {
            width: 100%;
            font-size: 50px;
            text-align: center;
            color: rgb(26, 192, 192);
            margin-top: 60px;
            margin-bottom: 80px;
            text-shadow: 1px 2px 2px rgb(112, 110, 110);
            @media (min-width: 320px) and (max-width: 767px) {
                margin-bottom: 20px;
                font-size: 30px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 40px;
            }
        }
        .carrousel-container {
            width: 50%;
            display: flex;
            @media (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                height: 500px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 90%;
                height: 400px;
            }
            @media (min-width: 1024px) and (max-width: 1440px) {
                width: 60%;
            }
        }
        .skills-cv-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (min-width: 320px) and (max-width: 767px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 80%;
            }
            @media (min-width: 1024px) and (max-width: 1440px) {
                width: 40%;
            }
            .skills-cv-img {
                margin-bottom: 50px;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 300px;
                    margin: 50px 0px 20px 0px;
                    filter: brightness(100%) contrast(30%);
                    position: relative;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 90%;
                    margin-top: 50px;
                }
                @media (min-width: 1024px) and (max-width: 1440px) {
                    width: 90%;
                }
            }
            .skills-link-cv {
                @include button-mixin;
                animation-name: glowing;
                @media (min-width: 320px) and (max-width: 767px) {
                    position: absolute;
                }
            }

            .icone-telecharger {
                margin-right: 8px;
            }
        }
    }
}
