@import './_mixin';

.realisations-card-content {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 25px;
    // @media screen and (max-width: 768px) {

    // }
    @media screen and (max-width: 320px) {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .card-images {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px rgb(26, 192, 192);
        border-radius: 20px;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;

        .card-links-button-text {
            .img-card {
                width: 570px;
                //width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                transition: filter 0.3s ease;
            }

            // h5 {
            //     color: rgb(26, 192, 192);
            //     height: 10%;
            //     margin-top: 20px;
            //     background-color: beige;
            // }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease;

            .title-project {
                color: rgb(26, 192, 192);
                text-shadow: 1px 2px 2px rgb(112, 110, 110);
                font-size: 3.3rem;
                font-weight: 500;
                text-align: center;
            }
        }
        &:hover .overlay {
            opacity: 1;
        }
    }
    .zoom-in-out-box {
        animation: zoom-in-zoom-out 1s ease ;
    }
    .card-links {
        display: flex;
        //justify-content: space-between;
        justify-content: center;
        margin: 0px 10px;

        .card-links-tags {
            background-color: #f0f0f0;
            border-radius: 15px;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            .card-links-tags-icone {
                font-size: 20px;
                padding: 0px 2px;
            }
        }
    }
}
.load-more-button {
    @include button-mixin;
    margin-top: 60px;
}
