.contact-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: hwb(176 91% 4% / 0.753);
    background-image: url(../assets/contact1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec opacité */
        filter: brightness(70%) contrast(10%); /* Filtre à appliquer sur l'image */
    }
    .contact-content {
        width: 40%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(4, 61, 56, 0.24);
        border-radius: 25px;
        color: white;
        z-index: 1;

        .contact-content-text {
            //z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            h3 {
                font-size: 25px;
                margin-bottom: 30px;
                //z-index: -10;
                
            }
            // .contact-back-title {
            //     font-size: 60px;
            //     //z-index: 0;
            //     position: absolute;
            //      top: 0;
            //      color: rgb(226, 229, 231);
            // }
            h4 {
                font-size: 15px;
                margin-bottom: 30px;
            }
        }
        
        .form-content {
            // height: 500px;
            // width: 320px;
            color: white;
            display: flex;
            // flex-wrap: wrap;
            // flex-direction: column;
            justify-content: center;
            // align-items: center;
            label{
                display: flex;
                 font-size: 1em;
                 margin-bottom: 10px;
            }

            input{
                display: flex;
                border-radius: 5px;
                border: none;
                margin-bottom: 10px;
                height: 20px;
                width:100%;
            }

            textarea{
                border-radius: 5px;
                border: none;
                margin-bottom: 15px;
                width:100%;
            }

             .send{
              display: flex;
                justify-content: center;
                align-items: center;
                 
                .send-button{
                    width:70px;
                     height: 40px;
                     display: flex;
                justify-content: center;
                align-items: center;
                }
            }
            //#nom{
            //     font-size: 20px;
            // }
            // #email{
            //     font-size: 20px;
            // }
            //#message{20px}
        }
    }
}
