.contact-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hwb(176 91% 4% / 0.753);

    .contact-content {
        width: 30%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: black;
        border-radius: 25px;
        color: white;

        .form-content {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
