.footer-container {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-content {
        display: flex;
        justify-content: center;
        i {
            color: rgb(12, 124, 109);
        }
        .footer-text {
            color: white;
        }
    }
}
