@import './_mixin';

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/ordinateur.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec opacité */
        filter: brightness(70%) contrast(100%); /* Filtre à appliquer sur l'image */
    }

    .home-content {
        width: 100%;
        z-index: 1;
        padding-left: 50px;
        //   @media screen and (max-width: 1024px) {
        // //  padding-left: 0px;
        // }
        @media (min-width: 320px) and (max-width: 767px) {
            padding-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            //  font-size: 20px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        .home-text {
            margin-bottom: 40px;
            color: rgb(10, 193, 206);
            //color:rgb(26, 192, 192);
            // @media screen and (max-width: 768px) {
            //  padding-left: 0;
            //                  justify-content: center;
            //                  flex-direction: column;
            //                 }
            // @media screen and (max-width: 320px) {

            // }
            h2 {
                font-size: 50px;
                text-shadow: 1px 2px 2px rgb(112, 110, 110);
                margin-bottom: 10px;
                font-family: 'Signika Negative', sans-serif;
                font-weight: 300;
                font-style: normal;
                /* Décalage pour le h1 */
                transform: translateX(100%);
                transition: transform 1.7s ease 0.9s; /* Animation avec décalage de 0.3s */

                // @media screen and (max-width: 768px) {
                //     font-size: 40px;
                //     //  padding-left: 50px;
                // }
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 30px;
                }
            }

            h3 {
                font-size: 25px;
                text-shadow: 1px 2px 2px rgb(112, 110, 110);
                /* Décalage pour le h2 */

                transform: translateX(100%);
                transition: transform 1.7s ease 1.2s; /* Animation avec décalage de 0.6s */
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 15px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 20px;
                    padding-left: 0px;
                }
            }
        }
        &.animate {
            h2 {
                /* Définir la position finale (à gauche) lorsque l'animation est déclenchée */
                transform: translateX(0);
            }

            h3 {
                /* Définir la position finale (à gauche) lorsque l'animation est déclenchée */
                transform: translateX(0);
            }
        }

        .home-buttons-container {
            display: flex;
            gap: 20px;

            @media (min-width: 768px) and (max-width: 1023px) {
                display: flex;
                flex-direction: column;
                //                 flex-wrap: wrap;
                //                 justify-content: center;
            }
            //             @media screen and (max-width: 320px) {

            //             }
            .button-link {
                @include button-mixin;
                //  @media screen and (max-width: 768px) {

                // }
                @media (min-width: 320px) and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}
