.realisations-container {
    height: auto;
    display: flex;
    background-color: rgb(37, 34, 46);
    justify-content: center;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 320px) {
        display: flex;
        flex-direction: column;
    }
    .realisations-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .realisations-title {
            font-size: 60px;
            color: rgb(26, 192, 192);
            margin-top: 60px;
            margin-bottom: 60px;
            text-shadow: 1px 1px 2px white;
            @media screen and (max-width: 320px) {
                padding-bottom: 20px;
                font-size: 30px;
            }
        }

        .realisations-card-container {
            //background-color: red ;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // @media screen and (max-width: 768px) {

            // }
            @media screen and (max-width: 320px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}
