.resume-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 34, 46);
    
    .resume-content {
         color: rgb(26, 192, 192);
         font-size: 30px;
    }
}
