// @import './_mixin';
// @import './_animations';

// .skills-container {
//     //height: 100vh;
//     height: auto;
//     //padding: 70px;
//     //background-color: hwb(176 91% 4% / 0.753);
//     background-color: rgb(28, 26, 36);
//     display: flex;
//     justify-content: center;
//     padding-bottom: 60px;
//     //  @media screen and (max-width: 768px) {

//     // }
//     @media screen and (max-width: 320px) {
//         padding: 20px 0px 40px 0px;
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: column;
//     }
//     .skills-content {
//         width: 80%;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         justify-content: space-between;
//         //  @media screen and (max-width: 768px) {

//         // }
//         @media screen and (max-width: 320px) {
//             width: 100%;
//             display: flex;
//             flex-wrap: wrap;
//         }
//         .skills-title {
//             width: 100%;
//             font-size: 50px;
//             text-align: center;
//             color: rgb(26, 192, 192);
//             margin-top: 60px;
//             margin-bottom: 80px;
//             text-shadow: 1px 1px 2px white;
//             //  @media screen and (max-width: 768px) {
//             // }
//             @media screen and (max-width: 320px) {
//                 margin-bottom: 20px;
//                 font-size: 30px;
//             }
//         }
//         .skills {
//             width: 50%;
//             display: flex;
//             flex-wrap: wrap;
//             align-items: center;
//             justify-content: space-around;
//             //  @media screen and (max-width: 768px) {

//             // }
//             @media screen and (max-width: 320px) {
//                 width: 100%;
//                 display: flex;
//                 flex-wrap: wrap;
//             }
//             .skills-cards {
//                 width: 30%;
//                 display: flex;
//                 flex-direction: column;
//                 color: white;
//                 align-items: center;
//                 //  @media screen and (max-width: 768px) {

//                 // }
//                 @media screen and (max-width: 320px) {
//                     width: 50%;
//                     display: flex;
//                     flex-wrap: wrap;
//                 }
//                 .skills-img {
//                     height: 120px;
//                     margin: 10px 5px;
//                     border-radius: 20px;
//                     //  @media screen and (max-width: 768px) {

//                     // }
//                     @media screen and (max-width: 320px) {
//                         height: 50px;
//                     }
//                 }
//             }
//         }
//         .skills-cv-container {
//             width: 50%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             //  @media screen and (max-width: 768px) {

//             // }
//             @media screen and (max-width: 320px) {
//                 display: flex;
//                 justify-content: center;
//                 width: 100%;
//             }

//             .skills-cv-img {
//                 margin-bottom: 50px;
//                 //  @media screen and (max-width: 768px) {

//                 // }
//                 @media screen and (max-width: 320px) {
//                     width: 300px;
//                     margin: 50px 0px 20px 0px;
//                 }
//             }
//             .skills-link-cv {
//                 @include button-mixin;
//                 animation-name: glowing;
//             }
            
//             .icone-telecharger {
//                 margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
//             }
//         }
//     }
// }
@import './_mixin';
@import './_animations';

.skills-container {
    //height: 100vh;
    height: auto;
    //padding: 70px;
    //background-color: hwb(176 91% 4% / 0.753);
    background-color: rgb(28, 26, 36);
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    //  @media screen and (max-width: 768px) {

    // }
    @media screen and (max-width: 320px) {
        padding: 20px 0px 40px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .skills-content {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-content: space-between;
        //  @media screen and (max-width: 768px) {

        // }
        @media screen and (max-width: 320px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .skills-title {
            width: 100%;
            font-size: 50px;
            text-align: center;
            color: rgb(26, 192, 192);
            margin-top: 60px;
            margin-bottom: 80px;
            text-shadow: 1px 2px 2px rgb(112, 110, 110);
            //  @media screen and (max-width: 768px) {
            // }
            @media screen and (max-width: 320px) {
                margin-bottom: 20px;
                font-size: 30px;
            }
        }
        .skills {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            //  @media screen and (max-width: 768px) {

            // }
            @media screen and (max-width: 320px) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .skills-cards {
                width: 30%;
                display: flex;
                flex-direction: column;
                color: white;
                align-items: center;
                //  @media screen and (max-width: 768px) {

                // }
                @media screen and (max-width: 320px) {
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                }
                .skills-img {
                    height: 120px;
                    margin: 10px 5px;
                    border-radius: 20px;
                    //  @media screen and (max-width: 768px) {

                    // }
                    @media screen and (max-width: 320px) {
                        height: 50px;
                    }
                }
            }
        }
        .skills-cv-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //  @media screen and (max-width: 768px) {

            // }
            @media screen and (max-width: 320px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .skills-cv-img {
                margin-bottom: 50px;
                //  @media screen and (max-width: 768px) {

                // }
                @media screen and (max-width: 320px) {
                    width: 300px;
                    margin: 50px 0px 20px 0px;
                }
            }
            .skills-link-cv {
                @include button-mixin;
                animation-name: glowing;
            }
            
            .icone-telecharger {
                margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
            }
        }
    }
}
